{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- 新規追加 -->
    <meta name="script" content="名古屋のB級グルメをご案内します">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ここまで -->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'tabelog/style.css' %}">
    <!-- 新規追加 -->
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}    
    <!-- ここまで -->
</head>
<body>
    <header>
        <a class="navbar-brand" href="{% url 'top' %}">NAGOYAMESHI</a>
        <nav id="nav-pc">
            <div>
                <ul>
                    <li><a href="{% url 'top' %}">トップへ</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user' user.id %}">会員メニュー</a></li>
                    <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">ログイン</a></li>
                    <li><a href="{% url 'account_signup' %}">ユーザー登録</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <!-- 新規追加 -->
    {% block allauth %}
        {% if messages %}
            <div>      
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
    <!-- ここまで -->    
    <!-- 新規追加 -->
    {% block content %}{% endblock %}
    {% block extra_body %}{% endblock %}
    <!-- ここまで -->
    <footer>
        <p id="copyright">&copy;2025 NAGOYAMESHI ALLRIGHTS RESERVED</p>
    </footer>
</body>
</html>
