{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="shop-name">
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
</div>
<div id="shop-description">
    {% if object.image %}
    <img src="{{ object.image.url }}" width="100%">
    {% else %}
    <img src="{% static 'image/noImage.png' %}" width="100%">
    {% endif %}
</div>
<div id="favorite">
    {% if user.is_authenticated and user.is_paid %}
    <form action="{% url 'fav-shop' object.pk %}" method="post">
        {% csrf_token %}
        {% if object in user.favorite_shop.all %}
            <button type="submit" name="button" class="button-fav">お気に入り解除</button>
        {% else %}
            <button type="submit" name="button">お気に入り追加</button>
        {% endif %}
    </form>
    {% else %}
    <p>有料登録でお気に入り追加ができるようになります！</p>    
    {% endif %}      
</div>
<div id="shop-details">
    <table class="example">
        <tr>
            <td id="td-left">予算下限</td>
            <td id="td-right">{{ object.price_min }}円</td>
        </tr>
        <tr>
            <td id="td-left">予算上限</td>
            <td id="td-right">{{ object.price_max }}円</td>
        </tr>
        <tr>
            <td id="td-left">開店時間</td>
            <td id="td-right">{{ object.opening_time }}</td>
        </tr>
        <tr>
            <td id="td-left">閉店時間</td>
            <td id="td-right">{{ object.closing_time }}</td>
        </tr>
        <tr>
            <td id="td-left">郵便番号</td>
            <td id="td-right">{{ object.postal_code }}</td>
        </tr>
        <tr>
            <td id="td-left">住所</td>
            <td id="td-right">{{ object.address }}</td>
        </tr>
        <tr>
            <td id="td-left">電話番号</td>
            <td id="td-right">{{ object.phone }}</td>
        </tr>
        <tr>
            <td id="td-left">休業日</td>
            <td id="td-right">{{ object.regular_holiday }}</td>
        </tr>
    </table>
</div>
<div id="booking">
    {% if user.is_authenticated and user.is_paid %}
    <a href="{% url 'booking-create' object.id %}" class="btn">予約する</a>
    {% else %}
    <p>有料登録で予約ができるようになります！</p>
    {% endif %}    
</div>
<div id="review">
    <h2>レビュー情報</h2>
    {% for review in reviews %}
    <div>
        {% if user.is_authenticated and user.id == review.user.id %}
            <a href="{% url 'user' review.user.id %}">{{ review.user.last_name }} {{ review.user.first_name }}さん</a>
        {% else %}
            <p>{{ review.user.last_name }} {{ review.user.first_name }}さん</p>
        {% endif %}
        <p>投稿日{{ review.created_at }} 更新日{{ review.updated_at }}</p>
        <p>{{ review.comment }}</p>
    </div>
    {% empty %}
    <p>レビューはまだありません。</p>
    {% endfor %}
    
    {% if user.is_authenticated and user.is_paid %}
        <a href="{% url 'review-create' object.id %}" class="btn">レビュー作成</a>
    {% else %}
        <p class="btn">有料登録でレビューが投稿できるようになります！</p>
    {% endif %}
</div>

{% endblock %}