{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="search-box">
    <h1>店舗名・カテゴリーで検索</h1>
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text" />
        <button type="submit">検索</button>
    </form>
        <div id="category-box">
            {% for category in categorys %}
            <a href="{% url 'top' %}?category={{ category.id }}" class="btn">{{ category.name }}</a>
            {% endfor %}
        </div>
</div>
<div id="shop-list">
    <h1>店舗一覧</h1>
    <table border="0">
        <thead>
            <tr>
                <th></th>
                <th>店舗名</th>
                <th>カテゴリー</th>
                <th>詳細</th>
            </tr>
        </thead>
        {% for shop in object_list %}
        <tr>
            <td>
                {% if shop.image %}
                    <img src="{{ shop.image.url }}" width="100px">
                {% else %}
                    <img src="{% static 'image/noImage.png' %}" width="100px">
                {% endif %}
            </td>
            <td><a href="{% url 'shop-detail' shop.id %}">{{ shop.name }}</a></td>
            <td>{{ shop.category.name }}</td>
            <td>{{ shop.description }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}